<!-- Content -->
   <!-- Modal VerifyAPI -->
   <ion-modal style="border: none;" [isOpen]="isModalOpenAPI" class="modalDown" [initialBreakpoint]="1" [breakpoints]="[0, 1]" (didDismiss)="handleModalDismiss()">
    <ng-template>
    <div class="block">
        <img src="../assets/errors/not_wifi.svg" style="width: 40%; height: 40%; margin-bottom: 5%;">
        <p style="display: inline-block; font-size: xx-large;">Error de Conexión</p><br>
        <p style="display: inline-block; font-size: medium;">Verifique su Conexión al Servidor</p>  
    </div>
    </ng-template>
  </ion-modal>
  <!-- VerifyAPI Modal -->

  
<ion-card style="height: 100%; ">  
  <!-- Mesagge-Actions -->
  <div class="alert succesAlert"  role="alert" *ngIf="validationData">
    <strong style="font-size:small;"> {{ message }} </strong> 
    <ion-icon name="checkmark-circle-outline"></ion-icon>
  </div>
  <!-- Fin Mesagge-Actions -->

  <!-- Migas -->
  <ion-breadcrumbs>
    <ion-breadcrumb style="font-size: x-small">
      Usuarios
      <ion-icon  style="font-size: x-small" slot="end" name="people-sharp"></ion-icon>
    </ion-breadcrumb>
  </ion-breadcrumbs>
  <!-- Fin Migas -->

  <!-- Title -->
  <ion-card-header style="text-align: center;">
    <ion-card-title class="title">Listado Usuarios</ion-card-title>
  </ion-card-header>
  <!-- Fin Title -->


  <ion-list [inset]="true" style="margin-top: 0px;">
    <ion-button size="default" id="open-modal-add">
      Agregar
      <ion-icon name="add-sharp"></ion-icon>
    </ion-button>
    <!-- Modal Add -->
    <ion-modal #modalA trigger="open-modal-add">
      <ng-template>
        <ion-content>
          <ion-toolbar style="text-align: center;">
            <ion-title>Agregar Usuario</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="modalA.dismiss()"><ion-icon name="close"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>

          <form [formGroup]="myUsers">
            <ion-list class="listAgg">
              <ion-item [button]="true">
                <ion-label position="stacked">Ingrese Usuario</ion-label>
                <input formControlName="name" type="email" placeholder="Example@gmail.com" class="form-control-lg border-0 itemListAdd">
              </ion-item>
              <ion-label *ngIf="errorUserName" class="listAddlabel">
                {{msgErrorName}} Ó {{msgErrorIsset}}
              </ion-label>

              <ion-item [button]="true">
                <ion-label position="stacked">Ingrese Contraseña</ion-label>
                <input formControlName="password" type="password" class="itemListAdd border-0">
              </ion-item>
              <ion-label *ngIf="errorUserPassword" class="listAddlabel">
                {{msgErrorPassword}} Ó {{msgErrorIsset}}
              </ion-label>

            </ion-list>
          </form>

          <div style="text-align: center;">
            <ion-button fill="outline" (click)="modalA.dismiss()">Cancelar</ion-button>
            <ion-button (click)="confirmForm(modalA);">Confirmar</ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- List -->
     <br>
    <ion-item *ngFor="let user of users">
      <ion-label style="font-size: small;">{{ user.nombre }}</ion-label>
      <ion-button size="small" color="success" id="open-modal-view-{{user.id}}">
        <ion-icon name="eye" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button size="small" color="warning" id="open-modal-edit-{{user.id}}">
        <ion-icon name="create-sharp" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button size="small" color="danger" id="open-modal-delete-{{user.id}}">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>

      <!-- Modal View -->
      <ion-modal #modalV trigger="open-modal-view-{{user.id}}">
        <ng-template>
          <ion-content>
            <ion-toolbar style="text-align: center;">
              <ion-title style="font-size:large; margin-left: 10%;">Visualización Usuario</ion-title>
              <ion-buttons slot="end">
                <ion-button color="light" (click)="modalV.dismiss()"><ion-icon name="close"></ion-icon></ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-list style=" border-bottom: 1px solid rgb(0, 4, 255);">
              <ion-item>
                <ion-label>
                  <span>Nombre</span>
                  <p>{{user.nombre}}</p>
                  <span>Contraseña</span>
                  <p>{{user.edad}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
      <!-- Modal View -->

      <!-- Modal Edit -->
      <ion-modal #modalE trigger="open-modal-edit-{{user.id}}">
        <ng-template>
          <ion-content>
            <ion-toolbar slot="fixed" style="text-align: center;">
              <ion-title style="font-size:large; margin-left: 12%;">Editar Usuario</ion-title>
              <ion-buttons slot="end">
                <ion-button color="light" (click)="modalE.dismiss()"><ion-icon name="close"></ion-icon></ion-button>
              </ion-buttons>
            </ion-toolbar>  

            <ion-list [inset]="true" style="margin: 0; margin-bottom: 1vh; padding: 2%; margin-top: 9vh; border-bottom: 1px solid rgb(0, 4, 255);">
              <ion-item [button]="true">
                <ion-label position="stacked">Usuario</ion-label>
                <input class="nameform" [(ngModel)]="user.nombre">
              </ion-item>
              <ion-label *ngIf="nameVerif" style="color: red; margin-left: 2.2%;">
                {{msgErrorName}} Ó {{msgErrorIsset}}
              </ion-label>
              
              <ion-item [button]="true">
                <ion-label position="stacked">Contraseña</ion-label>
                <input class="nameform" [(ngModel)]="user.edad">
              </ion-item>
              <ion-label *ngIf="passwordVerif" style="color: red; margin-left: 2.2%;">
                {{msgErrorPassword}} Ó {{msgErrorIsset}}
              </ion-label>
              
            </ion-list>
            <div style="text-align: center;">
              <ion-button fill="outline" (click)="modalE.dismiss()">Cancelar</ion-button>
              <ion-button (click)="confirmFormEditar(user,modalE);">Confirmar</ion-button>
            </div>

          </ion-content>
        </ng-template>
      </ion-modal>
      <!-- Modal Edit -->

      <!-- Modal Delete -->
      <ion-modal #modalD trigger="open-modal-delete-{{user.id}}" >
        <ng-template>
          <ion-content>
            <ion-toolbar color="danger" style="text-align: center;">
              <ion-title style="font-size:large; margin-left: 12%;">Eliminar Usuario</ion-title>
              <ion-buttons slot="end">
                <ion-button color="light" (click)="modalD.dismiss()"><ion-icon name="close"></ion-icon></ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-list>
              <ion-item style="padding: 5px;">
                <ion-label style="text-align: center;">
                  <h2 style="font-size: medium;">¿Desea Eliminar este Usuario?</h2>
                  <p style="font-size: medium;">{{user.nombre}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <div style="text-align: center; margin-top: 0vh;">
              <ion-button color="danger" fill="outline" (click)="modalD.dismiss()">Cancelar</ion-button>
              <ion-button color="danger" (click)="deleteGame(user.id,modalD)">Confirmar</ion-button>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
      <!-- Modal Delete -->

    </ion-item>
  </ion-list>
  <!-- List End -->



</ion-card>
<!-- Content End -->

