.cardGeneral{
    margin:0; 
    padding-bottom: 5%;
    min-height: 100%;
}

.cardTitle{
    text-align: center; 
    margin: 0; 
    padding: 0;
}

.titleG{
    font-size:xx-large; 
    font-weight: 700;
    padding: 0;
}

ion-modal {
    --height: 50%;
    --width: 90%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: hsl(236, 100%, 51%);
    --color: white;
  }

  ion-modal{
    background: #00000069;
  }

  .toolbar-container-delete{
    background: red;
  }

  .form-control-lg{
    outline: none;
    font-size: 14px;
    padding: 0%;
  }

  input:focus {
    outline: none;
}
  
  
.nameform{
  height: 70%;
  border: none;
  width: 100%;
}
  
.succesAlert{
  color: aliceblue; 
  background-color: rgb(85, 186, 112); 
  display: block; 
  width: 100%; 
  border: 1px solid rgba(0, 0, 0, 0.734); 
  text-align: center; 
  position: absolute; 
  z-index: 10;
}

.title{
  font-weight: 700;
  font-size: 40px; 
  padding: 0;
  font-size: xx-large;
}

.listAgg{
  border-bottom: 1px solid rgb(0, 4, 255);
  margin-bottom: 1vh;
  padding-top: 0;
}

.itemListAdd{
  height: 70%; 
  border: none; 
  width: 100%;
}

.listAddlabel{
  color: red; 
  margin-left: 2.2%;
}


.block {
  width: 100%;
  position: relative;
  height: 300px;
  display: block;
  text-align: center;
  padding-top: 10%;
  // border: 2px solid rgb(78, 224, 20);
}
.modalDown{
  // border: 2px solid rgb(224, 20, 20);
  border: none;
  --height: auto;
  padding-top: 70%;
  // width: 100%;
}

